In [2]:
from bs4 import BeautifulSoup 
import requests

In [3]:
url = "http://www.ibm.com"

In [4]:
data  = requests.get(url).text

In [5]:
soup = BeautifulSoup(data,"html.parser")  # crea un objeto de sopa usando la variable 'data'

## Scrap de todos los links

In [6]:
for link in soup.find_all('a',href=True):  # en html los links está representado por la etiqueta <a>

    print(link.get('href'))

#main-content
http://www.ibm.com
https://www.ibm.com/products/z16?lnk=ushpv18l1
#ibm-tech-section
https://www.ibm.com/consulting/?lnk=ushpv18intro2
https://newsroom.ibm.com/2022-04-14-The-International-Science-Reserve-Announces-Executive-Board-and-Unveils-its-First-Crisis-Activation-on-Wildfire-Prevention-and-Management?lnk=ushpv18r1
https://newsroom.ibm.com/2022-04-14-The-International-Science-Reserve-Announces-Executive-Board-and-Unveils-its-First-Crisis-Activation-on-Wildfire-Prevention-and-Management?lnk=ushpv18r1
https://research.ibm.com/blog/qiskit-runtime-for-useful-quantum-computing?lnk=ushpv18r2
https://www.research.ibm.com/blog/research-powering-ibmz16?lnk=ushpv18r3
https://www.ibm.com/ibm/ideasfromibm/us/ibm_fellows/2022/?lnk=ushpv18r4
https://www.ibm.com/cloud/blog/announcements/unified-key-orchestrator?lnk=ushpv18f1
https://www.ibm.com/blogs/ibm-training/lets-create-your-future-at-the-ibm-center-for-cloud-training/?lnk=ushpv18f2
https://www.ibm.com/security/resources/crisis-management?lnk=ushpv18f3
https://newsroom.ibm.com/2022-04-12-IBM-Unveils-its-New-Reporting-Framework-and-Report-for-Environmental,-Social,-and-Governance-ESG?lnk=ushpv18f4
https://www.ibm.com/case-studies/search?lnk=ushpv18mAll
https://www.ibm.com/case-studies/t-mobile/?lnk=ushpv18m1
https://www.ibm.com/case-studies/masters/?lnk=ushpv18m2
https://www.ibm.com/case-studies/telefonica-spain/?lnk=ushpv18m3
https://www.ibm.com/products?types[0]=trial&lnk=STW_US_MPDISC_BNR_BTN&lnk2=THP&lnk3=ushpv18tAll
https://www.ibm.com/products/offers-and-discounts?link=ushpv18t5&lnk2=trial_mktpl_MPDISC
https://www.ibm.com/products/unified-endpoint-management?lnk=ushpv18t1&lnk2=trial_MaaS360Wat&psrc=none&pexp=def
https://www.ibm.com/products/watson-assistant?lnk=ushpv18t2&lnk2=trial_WatAssist&psrc=none&pexp=def
https://www.ibm.com/products/cognos-analytics?lnk=ushpv18t3&lnk2=trial_CogAnalytics&psrc=none&pexp=def
https://www.ibm.com/search?lnk=ushpv18srch&locale=en-us&q=
https://www.ibm.com/products?lnk=ushpv18p1&lnk2=trial_mktpl&psrc=none&pexp=def
https://www.ibm.com/cloud/hybrid?lnk=ushpv18pt14
https://www.ibm.com/watson?lnk=ushpv18pt17
https://www.ibm.com/it-infrastructure?lnk=ushpv18pt19
https://www.ibm.com/blockchain?lnk=ushpv18pt4
https://www.ibm.com/security/products?lnk=ushpv18pt9
https://www.ibm.com/analytics/products?lnk=ushpv18pt1
https://www.ibm.com/cloud/automation?lnk=ushpv18ct21
https://www.ibm.com/quantum-computing?lnk=ushpv18pt16
https://www.ibm.com/mysupport/s/?language=en_US&lnk=ushpv18ct11
https://www.ibm.com/training/?lnk=ushpv18ct15
https://community.ibm.com/community/user/home/?lnk=ushpv18ct20
https://developer.ibm.com/?lnk=ushpv18ct9
https://www.ibm.com/garage?lnk=ushpv18pt18
https://www.ibm.com/docs/en?lnk=ushpv18ct14
https://www.redbooks.ibm.com/?lnk=ushpv18ct10
https://www-03.ibm.com/employment/technicaltalent/developer/?lnk=ushpv18ct2
https://www.ibm.com/

## Scrap de todas las imágenes Etiquetas

In [7]:
for link in soup.find_all('img'):# en html la imagen está representada por la etiqueta <img>
    print(link)
    print(link.get('src'))

<img alt="" aria-hidden="true" role="presentation" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA1NSIgaGVpZ2h0PSI1MjcuNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiLz4=" style="max-width:100%;display:block;margin:0;border:none;padding:0"/>
data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA1NSIgaGVpZ2h0PSI1MjcuNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiLz4=
<img alt="leadspace mobile image" class="ibm-resize" decoding="async" src="https://1.dam.s81c.com/p/079c079563c394a2/20220411-ls-ibm-z16-26561-mobile-720x360.jpg" style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"/>
https://1.dam.s81c.com/p/079c079563c394a2/20220411-ls-ibm-z16-26561-mobile-720x360.jpg
<img alt=" " class="bx--image__img" src="https://1.dam.s81c.com/p/07b71f2f96251f90/20220414-r-international-science-reserves-26569-1600x900.jpg"/>
https://1.dam.s81c.com/p/07b71f2f96251f90/20220414-r-international-science-reserves-26569-1600x900.jpg
<img alt=" " class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/07bbb0107dc3d30b/20220412-research-26578-Qiskit-PAYGO-800x450.jpg"/>
https://1.dam.s81c.com/p/07bbb0107dc3d30b/20220412-research-26578-Qiskit-PAYGO-800x450.jpg
<img alt=" " class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/0797bc3546c3dcd3/20220407-r-tech-for-multiframe-26554-800x450.jpg"/>
https://1.dam.s81c.com/p/0797bc3546c3dcd3/20220407-r-tech-for-multiframe-26554-800x450.jpg
<img alt=" " class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/07bbb0107dc3d2dc/20220411-r-fellows2022-26579-800x450.jpg"/>
https://1.dam.s81c.com/p/07bbb0107dc3d2dc/20220411-r-fellows2022-26579-800x450.jpg
<img alt=" " class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/0797bc354743dd21/202204011-unified-key-orchestrator-26523-444x320.jpg"/>
https://1.dam.s81c.com/p/0797bc354743dd21/202204011-unified-key-orchestrator-26523-444x320.jpg
<img alt=" " class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/07bbb0107d43d27c/20220412-cloud-training-courses-26517-444x320.jpg"/>
https://1.dam.s81c.com/p/07bbb0107d43d27c/20220412-cloud-training-courses-26517-444x320.jpg
<img alt=" " class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/079c079563c394a1/20220411-f-cybersecurity-russia-ukraine-war-444x320-26570.jpg"/>
https://1.dam.s81c.com/p/079c079563c394a1/20220411-f-cybersecurity-russia-ukraine-war-444x320-26570.jpg
<img alt=" " class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/07bbb0107d43d286/20220412-f-esg-report-444x320-26517.jpg"/>
https://1.dam.s81c.com/p/07bbb0107d43d286/20220412-f-esg-report-444x320-26517.jpg
<img alt=" " class="bx--image__img" src="https://1.dam.s81c.com/p/079c079563439487/202204011-TMobile-5G-AI-1600x900.jpg"/>
https://1.dam.s81c.com/p/079c079563439487/202204011-TMobile-5G-AI-1600x900.jpg
<img alt=" " class="bx--image__img" src="https://1.dam.s81c.com/p/0795cae91aa515c8/20220404-m-masters-1600x900.jpg"/>
https://1.dam.s81c.com/p/0795cae91aa515c8/20220404-m-masters-1600x900.jpg
<img alt=" " class="bx--image__img" src="https://1.dam.s81c.com/public/content/dam/worldwide-content/homepage/ul/g/c7/ae/20220328-m-telefonica-tech-26524-1600x900.jpg"/>
https://1.dam.s81c.com/public/content/dam/worldwide-content/homepage/ul/g/c7/ae/20220328-m-telefonica-tech-26524-1600x900.jpg
<img alt=" " class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/075b9d6845a4394d/MaaS360-with-Watson-trial-800x450.jpg"/>
https://1.dam.s81c.com/p/075b9d6845a4394d/MaaS360-with-Watson-trial-800x450.jpg
<img alt=" " class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/public/content/dam/worldwide-content/homepage/ul/g/ee/15/20220216-t-ibm-watson-assistant.png"/>
https://1.dam.s81c.com/public/content/dam/worldwide-content/homepage/ul/g/ee/15/20220216-t-ibm-watson-assistant.png
<img alt=" " class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/0795cae91aa515c7/20220404-t-ibm-cognos-analytics-with-watson.png"/>
https://1.dam.s81c.com/p/0795cae91aa515c7/20220404-t-ibm-cognos-analytics-with-watson.png

## Tablas de wikipedia a pandas

In [8]:
import pandas as pd

In [9]:
url = "https://en.wikipedia.org/wiki/World_population"

In [10]:
# obtener el contenido de la página web en formato de texto 
data  = requests.get(url).text

In [11]:
soup = BeautifulSoup(data,"html.parser")

In [12]:
# encontrar todas las tablas html en la página web
tables = soup.find_all('table') # en la tabla html está representado por la etiqueta <table>

In [13]:
# numero de tablas por la longitud de la lista
len(tables)

26

In [14]:
for index,table in enumerate(tables):
    if ("10 most densely populated countries" in str(table)):# se toma una tabla
        table_index = index
print(table_index)

5

In [15]:
print(tables[table_index].prettify())

<table class="wikitable sortable" style="text-align:right">
 <caption>
  10 most densely populated countries
  <small>
   (with population above 5 million)
  </small>
 </caption>
 <tbody>
  <tr>
   <th>
    Rank
   </th>
   <th>
    Country
   </th>
   <th>
    Population
   </th>
   <th>
    Area
    <br/>
    <small>
     (km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
   <th>
    Density
    <br/>
    <small>
     (pop/km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
  </tr>
  <tr>
   <td>
    1
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/23px-Flag_of_Singapore.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/35px-Flag_of_Singapore.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/45px-Flag_of_Singapore.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Singapore" title="Singapore">
     Singapore
    </a>
   </td>
   <td>
    5,704,000
   </td>
   <td>
    710
   </td>
   <td>
    8,033
   </td>
  </tr>
  <tr>
   <td>
    2
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/23px-Flag_of_Bangladesh.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/35px-Flag_of_Bangladesh.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/46px-Flag_of_Bangladesh.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Bangladesh" title="Bangladesh">
     Bangladesh
    </a>
   </td>
   <td>
    172,550,000
   </td>
   <td>
    143,998
   </td>
   <td>
    1,198
   </td>
  </tr>
  <tr>
   <td>
    3
   </td>
   <td align="left">
    <p>
     <span class="flagicon">
      <img alt="" class="thumbborder" data-file-height="600" data-file-width="1200" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/23px-Flag_of_Palestine.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/35px-Flag_of_Palestine.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/46px-Flag_of_Palestine.svg.png 2x" width="23"/>
     </span>
     <a href="/wiki/State_of_Palestine" title="State of Palestine">
      Palestine
     </a>
    </p>
   </td>
   <td>
    5,266,785
   </td>
   <td>
    6,020
   </td>
   <td>
    847
   </td>
  </tr>
  <tr>
   <td>
    4
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/23px-Flag_of_Lebanon.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/35px-Flag_of_Lebanon.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/45px-Flag_of_Lebanon.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Lebanon" title="Lebanon">
     Lebanon
    </a>
   </td>
   <td>
    6,856,000
   </td>
   <td>
    10,452
   </td>
   <td>
    656
   </td>
  </tr>
  <tr>
   <td>
    5
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/23px-Flag_of_the_Republic_of_China.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/35px-Flag_of_the_Republic_of_China.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/45px-Flag_of_the_Republic_of_China.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Taiwan" title="Taiwan">
     Taiwan
    </a>
   </td>
   <td>
    23,604,000
   </td>
   <td>
    36,193
   </td>
   <td>
    652
   </td>
  </tr>
  <tr>
   <td>
    6
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/23px-Flag_of_South_Korea.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/35px-Flag_of_South_Korea.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/45px-Flag_of_South_Korea.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/South_Korea" title="South Korea">
     South Korea
    </a>
   </td>
   <td>
    51,781,000
   </td>
   <td>
    99,538
   </td>
   <td>
    520
   </td>
  </tr>
  <tr>
   <td>
    7
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="720" data-file-width="1080" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/23px-Flag_of_Rwanda.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/35px-Flag_of_Rwanda.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/45px-Flag_of_Rwanda.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Rwanda" title="Rwanda">
     Rwanda
    </a>
   </td>
   <td>
    12,374,000
   </td>
   <td>
    26,338
   </td>
   <td>
    470
   </td>
  </tr>
  <tr>
   <td>
    8
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/23px-Flag_of_Haiti.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/35px-Flag_of_Haiti.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/46px-Flag_of_Haiti.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Haiti" title="Haiti">
     Haiti
    </a>
   </td>
   <td>
    11,578,000
   </td>
   <td>
    27,065
   </td>
   <td>
    428
   </td>
  </tr>
  <tr>
   <td>
    9
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/23px-Flag_of_the_Netherlands.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/35px-Flag_of_the_Netherlands.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/45px-Flag_of_the_Netherlands.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Netherlands" title="Netherlands">
     Netherlands
    </a>
   </td>
   <td>
    17,710,000
   </td>
   <td>
    41,526
   </td>
   <td>
    426
   </td>
  </tr>
  <tr>
   <td>
    10
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="800" data-file-width="1100" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/21px-Flag_of_Israel.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/32px-Flag_of_Israel.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/41px-Flag_of_Israel.svg.png 2x" width="21"/>
    </span>
    <a href="/wiki/Israel" title="Israel">
     Israel
    </a>
   </td>
   <td>
    9,500,000
   </td>
   <td>
    22,072
   </td>
   <td>
    430
   </td>
  </tr>
 </tbody>
</table>

In [16]:
population_data = pd.DataFrame(columns=["Clasificación", "Pais", "Poblacion", "Area", "Densidad"]) #estructura del la tabla

for row in tables[table_index].tbody.find_all("tr"):#iteraciones para rellenar la tabla 
    col = row.find_all("td")
    if (col != []):
        rank = col[0].text
        country = col[1].text
        population = col[2].text.strip()
        area = col[3].text.strip()
        density = col[4].text.strip()
        population_data = population_data.append({"Clasificación":rank, "Pais":country, "Poblacion":population, "Area":area, "Densidad":density}, ignore_index=True)

population_data

  Clasificación              Pais    Poblacion     Area Densidad
0             1         Singapore    5,704,000      710    8,033
1             2        Bangladesh  172,550,000  143,998    1,198
2             3  \n Palestine\n\n    5,266,785    6,020      847
3             4           Lebanon    6,856,000   10,452      656
4             5            Taiwan   23,604,000   36,193      652
5             6       South Korea   51,781,000   99,538      520
6             7            Rwanda   12,374,000   26,338      470
7             8             Haiti   11,578,000   27,065      428
8             9       Netherlands   17,710,000   41,526      426
9            10            Israel    9,500,000   22,072      430

## Pandas + Bs4

In [17]:
pd.read_html(str(tables[5]), flavor='bs4')

[   Rank      Country  Population  Area(km2)  Density(pop/km2)
 0     1    Singapore     5704000        710              8033
 1     2   Bangladesh   172550000     143998              1198
 2     3    Palestine     5266785       6020               847
 3     4      Lebanon     6856000      10452               656
 4     5       Taiwan    23604000      36193               652
 5     6  South Korea    51781000      99538               520
 6     7       Rwanda    12374000      26338               470
 7     8        Haiti    11578000      27065               428
 8     9  Netherlands    17710000      41526               426
 9    10       Israel     9500000      22072               430]

Se genra el data frame de pandas

In [18]:
population_data_read_html = pd.read_html(str(tables[5]), flavor='bs4')[0]

population_data_read_html

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   172550000     143998              1198
2     3    Palestine     5266785       6020               847
3     4      Lebanon     6856000      10452               656
4     5       Taiwan    23604000      36193               652
5     6  South Korea    51781000      99538               520
6     7       Rwanda    12374000      26338               470
7     8        Haiti    11578000      27065               428
8     9  Netherlands    17710000      41526               426
9    10       Israel     9500000      22072               430

## Scrape data from HTML tables into a DataFrame using read_html

También se puede usar `read_html` para obtener DataFrames directamente desde una `url`.

In [19]:
dataframe_list = pd.read_html(url, flavor='bs4')

Numero de dataframes

In [20]:
len(dataframe_list)

26

In [21]:
dataframe_list[5]

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   172550000     143998              1198
2     3    Palestine     5266785       6020               847
3     4      Lebanon     6856000      10452               656
4     5       Taiwan    23604000      36193               652
5     6  South Korea    51781000      99538               520
6     7       Rwanda    12374000      26338               470
7     8        Haiti    11578000      27065               428
8     9  Netherlands    17710000      41526               426
9    10       Israel     9500000      22072               430

También podemos usar el parámetro `match` para seleccionar la tabla específica .

In [22]:
pd.read_html(url, match="10 most densely populated countries", flavor='bs4')[0]

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   172550000     143998              1198
2     3    Palestine     5266785       6020               847
3     4      Lebanon     6856000      10452               656
4     5       Taiwan    23604000      36193               652
5     6  South Korea    51781000      99538               520
6     7       Rwanda    12374000      26338               470
7     8        Haiti    11578000      27065               428
8     9  Netherlands    17710000      41526               426
9    10       Israel     9500000      22072               430